/*
Author: Joseph COUPRIE
Date: 2025-10-08
*/

body {
  font-family: monospace, verdana;
  background-color: #b8dce480;
}
h1 {
  color: rgba(81, 0, 128, 0.85);
  font-size: 20px;
}
p {
  color: rgba(0, 0, 0, 0.5);
}
ul, ol {
  color: rgb(100, 0, 100, 0.85);
}

.center {
  align-items: center;
  text-align: center;
}
.right {
  align-items: right;
  text-align: right;
}

h1, h2, h3 {
  color: royalblue;
  font-size: 20px;
}

#special-message {
  color : red;
}

a[target="target!!!"] {
  color : green;
}

img[alt="Example image"] {
  border: 10px dashed red;
  width: 400px;
}
