/*
Author: Joseph COUPRIE
Date: 2025-09-25
*/

body {
  font-family: monospace, verdana;
  background-color: #b8dce480;
}
h1 {
  color: rgba(81, 0, 128, 0.85);
  font-size: 20px;
}
p {
  color: rgba(0, 0, 0, 0.5);
}
a:hover {
  color: orange;
}
ul {
  list-style-type: square;
}
ol {
  list-style-type: lower-roman;
  color: rgb(100, 0, 100, 0.85);
}
.center {
  align-items: center;
  text-align: center;
}
audio {
  max-width: 500px;
  width: 100%;
}